{% extends 'partials/_barraLateralEquipos.html' %}
{% block title %}Datasheets de los equipos {% endblock %}

{% block content %}
<div class="container mt-2">

        <div class="input-group mt-3 mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Buscador por TAG</span>
            <input type="text" class="form-control" id="tag"  list="lista-datalist">
            <datalist id="lista-datalist"></datalist>
        </div>
        <div class="mb-4">
            <iframe id='datasheet' class="container mt-4"  width="640" height="480" allow="autoplay"></iframe>
        </div>
        <!-- src="https://drive.google.com/file/d/1QJeHcQXRRGkCEAq3hahIPyVGDomEtXCr/preview" -->

{% endblock %}