{% extends 'partials/_barraLateralEmisiones.html' %}
{% block title %}Categorización de emisiones fugitivas{% endblock %}

{% block content %}
<div class="container mt-2">
    <main>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Últimos registros
            </div>
            <div class="card-body">
                <table class="table table-striped table-responsive" id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Operador</th>
                            <th>Área</th>
                            <th>Ubicación de la fuga</th>
                            <th>Punto de fuga</th>
                            <!-- <th>Superada</th> -->
                            <th>Categoría</th>
                            <th>Actualización</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <!-- <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot> -->
                    <tbody>
                        {% for Emision in Emisiones %}
                        <tr>
                            <td>{{Emision.usuario.first_name}} {{Emision.usuario.last_name}} </td>
                            <td>{{Emision.area}}</td>
                            <td>{{Emision.ubicacion}}</td>
                            <td>{{Emision.fuga}}</td>
                            <!-- {% if Emision.emisionSuperada %}
                                <td>Si</td>
                            {% else %}
                                <td>No</td>
                            {% endif %} -->
                            <td>{{Emision.categoria}}</td>
                            <td>{{Emision.created_at|date:'d/m/Y'}}</td>
                            <td>
                                <button type="button" class="btn btn-success m-1"><a style="color: white; text-decoration:none"  href="{% url 'detalleEmisiones' Emision.id %}">Detalle</a></button>
                                <button type="button" class="btn btn-warning m-1"><a style="color: black; text-decoration:none"  href="#">Superado</a></button>
                                <form id='formEliminarEmision' action="{% url 'eliminarEmisiones' Emision.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-danger m-1"><a style="color: white; text-decoration:none"  href="{% url 'eliminarEmisiones' Emision.id %}">Eliminar</a></button>
                                </form>
                            </td>
                        </tr>
                        {% empty %}
                            <td colspan="7">No tiene registros</td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
 
        {% if messages %}
            {% for m in messages %}
                <script>
                    Swal.fire({
                        'title': 'Su registro ha sido borrado',
                        'text': '{{m}}',
                        'icon': 'success',
                      })
                </script>
            {% endfor %}
        {% endif %}

{% endblock %}