{% extends 'partials/_barraLateralEmisiones.html' %}
{% block title %}Emisiones fugitivas{% endblock %}

{% block content %}
<div class="container mt-2">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Dashboard de emisiones fugitivas</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item active"><div  id="fechaActualizacionEmisiones">Actualizado al dd/mm/aaaa a las hh:mm</div> </li>
            </ol>
            <div class="row">
                <!-- <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-body">Primary Card</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">View Details</a>
                            <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div> -->
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-danger text-white mb-4">
                        <div class="card-header">Emisiones tipo G1</div>
                        <div class="card-body">Emisiones fugitivas de alta peligrosidad que deben ser atendidas de inmediato.</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">Total XX activas.</a>
                            <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-warning text-white mb-4">
                        <div class="card-header">Emisiones tipo G2</div>
                        <div class="card-body">Emisiones fugitivas monitoreadas que deben ser atendidas como máximo en xx meses.</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">Total XX activas.</a>
                            <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-header">Emisiones tipo G3</div>
                        <div class="card-body">Emisiones monitoreadas y controladas atendidas como máximo en xx meses. </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white stretched-link" href="#">Total XX activas.</a>
                            <!-- <div class="small text-white"><i class="fas fa-angle-right"></i></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card bg-primary text-white mb-4">
                        <div class="card-header">Emisiones superadas</div>
                        <div class="card-body">Histórico de todas las emisiones reparadas de todas las áreas guardadas desde hace 2 años. </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" href="#">Total xx registradas.</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Últimos registros
                </div>
                <div class="card-body">
                    <table class="table table-striped table-responsive" id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>Operador</th>
                                <th>Área</th>
                                <th>Ubicación de la fuga</th>
                                <th>Punto de fuga</th>
                                <th>Categoría</th>
                                <th>FCF</th>
                                <th>Fecha del reporte</th>
                            </tr>
                        </thead>
                        <!-- <tfoot>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </tfoot> -->
                        <tbody>
                            {% for Emision in Emisiones %}
                            <tr>
                                <td>{{Emision.usuario.first_name}} {{Emision.usuario.last_name}} </td>
                                <td>{{Emision.area}}</td>
                                <td>{{Emision.ubicacion}}</td>
                                <td>{{Emision.fuga}}</td>
                                <td>{{Emision.categoria}}</td>
                                <td>{{Emision.FCF}}</td>
                                <td>{{Emision.created_at}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

{% endblock %}