{% extends 'partials/_barraLateralEmisiones.html' %}
{% block title %}Categorización de emisiones fugitivas{% endblock %}

{% block content %}
<div class="container mt-2">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4 mb-4">Procedimiento ante una emisión tipo G2</h1>

            <div class="mt-4">
                <iframe src="../static/pdf/PROCEDIMIENTOG2.pdf" class="container mt-4"  width="800" height="1080" allow="autoplay"></iframe>
            </div>
        </div>
    </main>

{% endblock %}